{% extends 'index.html' %}
{% block content %}
<form id="frm1" action="/app/customers/store/" method="post">
    customers name :<input name="name" type="text">
    <br>
    customers family:<input type="text" name="family">
    <br>
    customers birth_year:<input type="number" name="birth_year">
    <br>
    customers ssn:<input type="text" name="ssn">
    <br>
    customers tel:<input type="number" name="tel">
    <br>
    customers address:<input type="text" name="address">
    <br>
    <input type="submit">
</form>
<table border="1" id="tbl1">
</table>  
{% endblock %}

{% block scripts %}
    <script>
        function getCustomer() {
        $.ajax({
            url: "/app/customers/get/data/",
            method: "post",
            dataType: "Json",
            success: function (result) {
                $("#tbl1").empty()
                let customers = result.customers
                for (let customer of customers)
                    $("#tbl1").append(`<tr><td>${customer.id}</td>
                <td>${customer.name}</td>
                <td>${customer.family}</td>
                <td>${customer.birth_year}</td>
                <td>${customer.ssn}</td>
                <td>${customer.tel}</td>
                <td>${customer.address}</td>
                <td><a class="del"  href="/app/customers/delete/${customer.id}/">delete</a></td></tr>`)
            }
        })
    }
    getCustomer()
    $("#frm1").submit(function(event) {
            event.preventDefault()
            $.ajax({
                url:$("#frm1").attr("action"),
                method:$("#frm1").attr("method"),
                dataType:"json", 
                data:$("#frm1").serialize(),
                success:function(result){
                    if(result.message == "saved"){
                        getCustomer()
                    }else{
                        alert("error")
                    }
                }
            })

        })
        $("#tbl1").on("click",".del",function(){
            let url = $(this).attr("href")
            $.ajax({
                url:url,
                method:"get",
                dataType:"json", 
                success:function(result){
                    if(result.message == "success"){
                        getCustomer()
                    }else{
                        alert("castumer is already in use")
                    }
                }
            })
            return false
        })
    </script>
{% endblock %}