{% extends 'index.html' %}
{% block content %}
<form id="frm1" action="/app/sellers/store/" method="post">
    sellers name :<input name="name" type="text">
    <br>
    sellers address:<input type="text" name="address">
    <input type="submit">
</form>
<table border="1" id="tbl1">
</table>        
{% endblock %}

{% block scripts %}
    <script>
        function getSeller() {
        $.ajax({
            url: "/app/sellers/get/data/",
            method: "post",
            dataType: "Json",
            success: function (result) {
                $("#tbl1").empty()
                let sellers = result.sellers
                for (let seller of sellers)
                    $("#tbl1").append(`<tr><td>${seller.id}</td>
                <td>${seller.name}</td>
                <td>${seller.address}</td>
                <td><a class="del"  href="/app/sellers/delete/${seller.id}/">delete</a></td></tr>`)
            }
        })
    }
    getSeller()
    $("#frm1").submit(function(event) {
            event.preventDefault()
            $.ajax({
                url:$("#frm1").attr("action"),
                method:$("#frm1").attr("method"),
                dataType:"json", 
                data:$("#frm1").serialize(),
                success:function(result){
                    if(result.message == "saved"){
                        getSeller()
                    }else{
                        alert("error")
                    }
                }
            })

        })
        $("#tbl1").on("click",".del",function(){
            let url = $(this).attr("href")
            $.ajax({
                url:url,
                method:"get",
                dataType:"json", 
                success:function(result){
                    if(result.message == "success"){
                        getSeller()
                    }else{
                        alert("Seller is already in use")
                    }
                }
            })
            return false
        })
    </script>
{% endblock %}